* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.courses-section {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    height: 100%;
    width: 90%;
    background-color: white;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
}

.btn-explore {
    background-color: white;
    color: black;
    border-radius: 0%;
    border-color: black;
}

.btn-explore:hover,
.lang:hover {
    background-color: #ddd;
    color: black;
}


.courses-section-header h1 {
    font-size: 35px;
}

.courses-section-header-description h3 {
    font-weight: normal;
    font-size: 20px;
}

.courses-section-header,
.courses-section-header-description {
    margin-left: 75px;
    margin-right: 75px;
}

.categories-tab {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    margin-left: 75px;
    margin-right: 75px;
}

.categories-tab button {
    background-color: white;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    font-weight: bold;
    color: #6a6f73;
    padding: 8px 4px;
}