.course-title,
.course-description {
    color: #fff;
}

.course-title {
    font-size: 30px;
}

.top-container {
    background-color: #1c1d1f;
    padding: 32px;
    /* margin-top: 5px; */
}

.inner-container {
    max-width: 1184px;
    margin-left: 167px;
    margin-right: 167px;
}

.rating-light {
    color: #f3ca8c;
}

.star-light {
    font-size: 15px !important;
}

.checked-light {
    color: #f3ca8c;
}

.notChecked-light {
    color: white;
    text-shadow: #f3ca8c 0px 0px 1px, #f3ca8c 0px 0px 1px, #f3ca8c 0px 0px 1px,
        #f3ca8c 0px 0px 1px, #f3ca8c 0px 0px 1px, #f3ca8c 0px 0px 1px;
}

.bestSeller {
    background-color: #eceb98;
    color: #3d3c0a;
    border-radius: 0%;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
}

.light-color-primary {
    color: #cec0fc;
    cursor: pointer;
}

.numberOfRatings,
.instructor-link {
    text-decoration: underline;
}

.lang-icon {
    font-size: 15px !important;
}

.slider-menu {
    top: 0;
    bottom: auto;
    background-color: #1c1d1f;
    position: fixed;
    padding: 16px 24px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 16%);
    z-index: 3;
    width: 100%;
    height: fit-content;
}

.path {
    max-width: 700px;
    margin: 0 48px 0 18px;
}

.topic-menu {
    position: relative;
    top: -8px;
    display: flex;
    padding: 4px;
    margin: 0 -4px;
}

.data-outer-container {
    max-width: 700px;
    margin-left: 18px;
    margin-right: 48px;
}

.data-inner-container {
    font-size: 14px;
}

.navigation-group-wrapper {
    border-bottom: 1px solid #d1d7dc;
}

.navigation-group-outer-container {
    max-width: 1184px;
    margin-left: 167px;
    margin-right: 167px;
}

.navigation-group-inner-container {
    max-width: 700px;
    margin: 0 48px;
}

.navigation-group {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: #fff;
    flex: 1;
}

.navigation-group a {
    flex: 1;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.navigation-group button {
    color: #6a6f73;
    background-color: white;
    border: none;
    font-weight: bold;
    height: 48px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.navigation-group a:hover {
    font-weight: bold;
    border-bottom: 2px solid #1c1d1f;
    border-width: 100%;
}

.navigation-group a:hover button {
    color: #1c1d1f;
}

.overview-section-title {
    color: #1c1d1f;
    margin: 0 24px 16px;
    font-size: 30px;
}

.course-content-section-title {
    font-size: 30px;
}

.page-body {
    padding-top: 32px;
    margin: 0 auto;
    max-width: 1184px;
    margin: 0 167px;
}

.overview-section,
.course-content-section,
.instructor-section {
    margin: 0 48px;
    /* width: 698px; */
    max-width: 700px;
}

.what-you-will-learn-wrapper {
    padding: 24px 0;
    padding-bottom: 16px;
    border: 1px solid #d1d7dc;
    margin-bottom: 32px;
}

.what-you-will-learn-container {
    margin: 0 24px;
}

.overview-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    max-width: 1184px;
}

.check-icon {
    font-size: 15px;
    min-height: 19.6px;
    color: #1c1d1f;
    width: 16px;
    height: 16px;
}

.learnBenefit {
    color: #1c1d1f;
    padding: 4px 0;
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: auto;
    text-align: left;
    letter-spacing: normal;
    white-space: normal;
}

.learnBenefit-text {
    margin-left: 16px;
    min-height: 19.6px;
    color: #1c1d1f;
}

.course-length-details {
    font-size: 16px;
    margin-bottom: 0px;
    height: auto;
}

.expand-sections {
    color: #5624d0;
    background-color: transparent;
    border: none;
    padding: 0;
}

.before-content-section {
    display: flex;
    justify-content: space-between;

}

.instructor-name {
    text-decoration: underline;
    color: #5624d0;
    font-size: large;
}

.instructor-name:hover {
    color: #5624d0;
}

.instructor-title {
    color: #6a6f73;
}

.instructor-card {
    display: flex;
}

.instructor-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.rating-lg,
.checked-lg {
    color: #b4690e;
    font-size: 64px;
}


.star-lg {
    font-size: 20px;
}

.notChecked-lg {
    color: white;
    text-shadow: #b4690e 0px 0px 1px, #b4690e 0px 0px 1px, #b4690e 0px 0px 1px,
        #b4690e 0px 0px 1px, #b4690e 0px 0px 1px, #b4690e 0px 0px 1px;
}

.feedback-card {
    display: flex;
}


.rating-bar {
    display: flex;
}

.progress {
    background-color: #d1d7dc;
    /* flex: 1; */
    height: 8px;
    border-radius: 0%;
    width: 300px;
}

.progress-bar {
    background-color: #6a6f73;
    /* width: 200px; */
}

.right-part {
    width: 500px
}

.stars-rating .star-lg {
    font-size: 15px;
}

.reviewer-card {
    padding: 16px 0 24px;
    border-bottom: 1px solid #d1d7dc;
    display: flex;
}

.name-circle-wrapper {
    display: block;
    padding: 0 24px 0 0;
}

.name-circle {
    width: 48px;
    height: 48px;
    background-color: #1c1d1f;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    object-fit: cover;
    color: #fff;
}

.thumbs-up,
.thumbs-down {
    width: 40px;
    height: 40px;
    background-color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #1c1d1f;
}

.rate-review {
    display: flex;
}

.rate-review-text {
    font-size: 13px;
}

.report-review {
    cursor: pointer;
    text-decoration: underline;
    padding-top: 6px;
    color: #1c1d1f;
}

.review-date {
    color: #6a6f73;
}

.sidebar-outer-container {
    max-width: 1184px;
    margin: 0 167px;
}

.sidebar-inner-container {
    margin-left: 796px;
    display: block;
    position: absolute;
    top: 90px;

}

.sidebar-container {
    width: 334px;
    z-index: 1;
    border-bottom: 1px solid #d1d7dc;
    box-sizing: border-box;
    background-color: #fff;
}

.sidebar-content-group {
    border-bottom: 1px solid #d1d7dc;
}

.sidebar-image {
    width: 338px;
    height: 189px;
    background-size: cover;
}

.purchase-section {
    padding: 24px;
}

.price-box {
    margin-bottom: 8px;
}

.price-text {
    padding: 4px 0;
}


.add-to-cart-container {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.add-to-cart {
    flex: 1;
}

.add-to-cart-button {
    width: 100%;
    background-color: #a435f0;
    color: #fff;
    height: 48px;
    position: relative;
    cursor: pointer;
    padding: 0 12px;
    justify-content: center;
    border: none;
}

.buy-now-container {
    display: block;
    margin: 8px 0;
    color: #1c1d1f;
}

.buy-now {
    flex: 1;
}

.buy-now-button {
    color: #1c1d1f;
    background-color: transparent;
    border: 1px solid #1c1d1f;
    width: 100%;
    height: 48px;
}

.guarantee {
    font-size: 12px;
    justify-content: center;
    text-align: center;
}

.share-gift-coupon-container {
    display: flex;
    justify-content: space-around;

}

.share-gift-coupon-container button {
    border: none;
    text-decoration: underline;
    background-color: transparent;

}

.side-bar-udemy-business {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.accordion {
    width: 100%;
}

.accordion-header {
    width: 100% !important;
}