.first-section {
    display: flex;
    position: relative;
    width: 90%;
    height: 440px;
    align-items: center;
    margin: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.alarm {
    width: 100%;
}

.text-card {
    background-color: white;
    box-shadow: 1px 2px 2px 2px #ddd;
    width: 430px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    padding: 24px;
    margin-bottom: 8px;
    margin-left: 60px;
}